@import url("https://fonts.googleapis.com/css2?family=Abel&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --fs-400:1rem;
  --fs-450:1.125rem;
  --fs-500:1.25rem;
  --fs-600:1.5rem;
  --fs-700:2rem;
  --fs-xl:3rem;
  --fs-mp:4rem;
}

@media (max-width: 40em) {
  :root {
    --fs-450:0.8rem;
    --fs-xl:2rem;
    --fs-500:1rem;
    --fs-mp:3rem
  ;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
  padding-top: 10vh;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  background-color: white;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.nav-list {
  width: 33%;
}

.nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: var(--fs-450);
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.nav-list a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.nav-list a:hover::after {
  background-color: #88B04B;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 33%;
  color: black;
  cursor: pointer;
}

.logo h1 {
  font-size: var(--fs-xl);
  font-weight: 800;
}

.logo a {
  color: black;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
}

.links a {
  margin-left: 12px;
  height: 24px;
  width: 24px;
}

.home {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.category-home {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

.intro {
  width: 30%;
  height: 800px;
  min-height: 700px;
  -webkit-box-shadow: 0px 10px 43px -9px rgba(34, 60, 60, 0.7);
          box-shadow: 0px 10px 43px -9px rgba(34, 60, 60, 0.7);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro a p {
  color: #fff;
  font-size: var(--fs-700);
  font-weight: 700;
  min-width: 200px;
  text-align: center;
  outline: 2px white solid;
}

.womens-category {
  width: 100%;
  height: 100%;
  background-image: url(../photos/home_w.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.300s ease-out;
  transition: -webkit-transform 0.300s ease-out;
  transition: transform 0.300s ease-out;
  transition: transform 0.300s ease-out, -webkit-transform 0.300s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kids-category {
  width: 100%;
  height: 100%;
  background-image: url(../photos/home_k.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.300s ease-out;
  transition: -webkit-transform 0.300s ease-out;
  transition: transform 0.300s ease-out;
  transition: transform 0.300s ease-out, -webkit-transform 0.300s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kids-category:hover, .womens-category:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

@media (max-width: 40em) {
  .home {
    gap: 100px;
  }
  .category-home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .intro {
    height: 500px;
    width: 100%;
  }
}

.information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40%)[2];
      grid-template-columns: repeat(2, 40%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px rgba(0, 0, 0, 0.2) solid;
  height: 140px;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 20px -9px rgba(34, 60, 60, 0.4);
          box-shadow: 0px 5px 20px -9px rgba(34, 60, 60, 0.4);
}

.info-block p {
  text-align: start;
  font-size: var(--fs-600);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60%;
}

.products {
  width: 50%;
  min-height: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-auto-rows: 350px;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.product-card-img {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-card-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card-img img {
  width: 60%;
  height: auto;
}

.product-card-text {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.product-card-text a {
  color: black;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.price {
  color: #88B04B;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 400;
  font-size: var(--fs-500);
}

.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 15vh;
}

.store-nav {
  width: 100%;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.store-nav form {
  width: 30%;
}

.search-box {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 20px;
  color: black;
  padding: 5px;
}

.search-butt {
  height: 40px;
  width: 40px;
  border: none;
  background-color: rgba(85, 107, 47, 0.2);
}

.search-butt img {
  width: 22px;
  height: 22px;
  margin: auto;
}

.store-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.filter-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  max-height: 50vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.price-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.price-filter p {
  color: #88B04B;
}

.price-filter input {
  max-width: 80px;
  height: 25px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  color: black;
  margin-left: 5px;
}

.price-filter input::-webkit-inner-spin-button,
.price-filter ::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.price-filter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.category-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 40px;
}

.category-block p {
  margin-left: 5px;
  color: black;
  font-size: var(--fs-400);
}

.category-block button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: black;
}

.category-block button:hover {
  background-color: #88B04B;
  border: none;
  color: #fff;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

@media (max-width: 40em) {
  .store-catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter-sidebar {
    width: 100%;
    border-right: none;
  }
  .products {
    width: 100vw;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    grid-auto-rows: 350px;
  }
}
/*# sourceMappingURL=index.css.map */