@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$firstColor: black;
$secondColor: rgb(136, 176, 75);
$border: 1px solid rgba(0, 0, 0, 0.1);
$borderNone: none;
:root{
  --fs-400:1rem;
  --fs-450:1.125rem;
  --fs-500:1.25rem;
  --fs-600:1.5rem;
  --fs-700:2rem;
  --fs-xl:3rem;
  --fs-mp:4rem;
}
@media (max-width:40em){
  :root{
    --fs-450:0.8rem;
    --fs-xl:2rem;
    --fs-500:1rem;
    --fs-mp:3rem
  }
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}
a{
  text-decoration: none;
}
body{
  width: 100%;
  height: auto;
  padding-top: 10em;
}
.navbar{
  display: flex;
  width: 100%;
  height: 90px;
  background-color: white;
  position: fixed;
  align-items: center;
  z-index: 3;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.070);
}
.nav-list{
  width: 33%;
  ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:center;
    gap: 2rem;
  }
  li{
    list-style: none;
  } 
  
  a{
    position: relative;
    text-decoration: none;
    color: $firstColor;
    font-size: var(--fs-450);
    transition: 100ms ease-out;
  }
  a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
    bottom: 0;
    background-color: white;
    transition: 100ms ease-out;
  }
  a:hover::after{
    background-color: $secondColor;
  }
}
.logo{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 33%;
  color: black;
  cursor: pointer;
  
  h1{
    font-size: var(--fs-xl);
    font-weight: 800;
  }
  a{
    color:$firstColor;
  }
}
.links{
  display: flex;
  align-items: center;
  width: 33%;
  justify-content: center;
  height: 24px;

  a{
    margin-left: 12px;
    height: 24px;
    width: 24px;
  }
}
.home{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap:50px;
}
.category-home{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.intro{
  width: 35em;
  height: 800px;
  min-height: 700px;
  box-shadow: 0px 10px 43px -9px rgba(34, 60, 60, 0.70);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      color: #fff;
      font-size: var(--fs-700);
      font-weight: 700;
      min-width: 200px;
      text-align: center;
      outline: 2px white solid;

    }
  }
}
.womens-category{
  width: 100%;
  height: 100%;
  background-image: url(../photos/home_w.jpg);
  background-size: cover;
  background-position: center;
  transition:  transform 0.300s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kids-category{
  width: 100%;
  height: 100%;
  background-image: url(../photos/home_k.jpg);
  background-size: cover;
  background-position: center;
  transition:  transform 0.300s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kids-category:hover, .womens-category:hover{
  transform: scale(1.25);
  
}
@media(max-width: 55em) {
  .home{
    gap: 100px;
  }
  .category-home{
    flex-direction: column;
    justify-content: space-around;
  }
  .intro{
    height: 500px;
    width: 40em;
  }
}
.information{
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: 35em;
  overflow-x: hidden;
}
.btns{
  position: absolute;
  width: 100%;
  display: flex;
  padding-top: 15px;
  justify-content: center ;
  gap: 5px;

  input {
    width: 17px;
    height: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    background-color: white;
    border-radius: 50%;
    transition: 0.25s ease-out;
  }
  input:hover{
    background-color: cadetblue;
  }
}
#btn1:checked ~ .first{
  transform: translateX(100%);
}
#btn2:checked ~ .second{
  margin-left: 0;

#btn3:checked ~ .third{
  margin-left: -40%;

#btn4:checked ~ .forth{
  margin-left: -60%;
}

.info-block{
  height: 100%;
  width: 100%;
  display: flex;
  flex-shrink:0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 5px 20px -9px rgba(34, 60, 60, 0.8);
  background-color: rgb(52, 51, 51);
  p{
    text-align: start;
    font-size: var(--fs-xl);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: white;
  }
  img{
    width: 300px;
    height: auto;
  }
}

.products{
  width: 70em;
  min-height: 50vh;
  display: grid;
  grid-template-columns:repeat(4,15em);
  justify-content: space-evenly;
  grid-auto-rows: 350px;
  margin: auto;
  overflow: hidden;
}
.product-card{
  display: flex;
  height: 90%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: $border; 
  margin: 15px;
  transition: transform 200ms ease-out;
  
}
.product-card:hover{
  transform: translateY(-20px);
  box-shadow: 0px 20px 20px -6px rgba(34, 60, 60, 0.4);;
}
.product-card-img{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: $border;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img{
    width: 60%;
    height: auto;
  }
}
.product-card-text{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  
  a{
    color: $firstColor;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:18px;
  }
}
.price{
  color: $secondColor;
  align-self: center;
  font-weight:400;
  font-size: var(--fs-500);
}

.store{
  display: flex;
  flex-direction: column;
  width: 100%; 
  height: auto; 
}
.store-nav{
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  
  form{
    width: 25em;
    display: flex;
    
  }
}
.search-box{
  width: 100%;
  height: 40px;
  border: $border;
  outline: none;
  font-size: 20px;
  color: $firstColor;
  padding: 5px;
}
.search-butt{
  height: 40px;
  width: 40px;
  border: none;
  background-color:rgba(136, 176, 75, 0.6);

  img{
    width: 22px;
    height: 22px;
    margin: auto;
  }
}
.store-catalog{
  display: flex;
  width: 100%;
  height: 100%;
  padding:10px;
}
.category-filter{
  display: flex;
  width: 100%;
  height: 3em;
  align-self: center;
 button{
   position: relative;
   flex-grow: 1;
   background-color: #fff;
   border: none;
   outline: $border;
   font-size: var(--fs-450);
   font-weight: 500;
 } 
 button::after{
   content: "";
   position: absolute;
  width: 100%;
  height: 3px;
  background-color: $secondColor;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 400ms ease-in;
  transition-delay: 200ms;
 }
 button:hover::after{
   transform: scaleX(1);
   transform-origin: center;
   transition-delay: 0ms;
 }
}
.category-block{
  display: flex;
  align-items: center;
  line-height: 40px;
  p{
    margin-left: 5px;
    color: $firstColor;
    font-size: var(--fs-400);
  }
  button{
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: black;
  }
  button:hover{
    background-color: $secondColor;
    border: none;
    color: #fff;
    transition: ease-out 0.2s ;
  }
}
@media(max-width:60em){
  .products{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns:repeat(3,15em);
    justify-content: space-evenly;
    grid-auto-rows: 350px;
    overflow: hidden;
  }
}



