@import url("https://fonts.googleapis.com/css2?family=Abel&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --fs-400:1rem;
  --fs-450:1.125rem;
  --fs-500:1.25rem;
  --fs-600:1.5rem;
  --fs-xl:3rem;
  --fs-mp:4rem;
}

@media (max-width: 40em) {
  :root {
    --fs-450:0.8rem;
    --fs-xl:2rem;
    --fs-500:1rem;
    --fs-mp:3rem
  ;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
}

.navbar_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75px;
  background-color: #fff;
  position: fixed;
  -webkit-box-shadow: 3px 0 5px rgba(85, 107, 47, 0.3);
          box-shadow: 3px 0 5px rgba(85, 107, 47, 0.3);
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 auto;
}

.nav-list {
  width: 33%;
}

.nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-list li {
  list-style: none;
  color: black;
  margin-left: 25px;
}

.nav-list a {
  text-decoration: none;
  color: #556B2F;
  font-size: var(--fs-450);
}

.nav-list a:hover {
  color: #FA8072;
  font-size: var(--fs-500);
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

@media (max-width: 40em) {
  .nav-list ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-list li {
    margin-left: 0px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: end;
  width: 33%;
  color: #556B2F;
  cursor: pointer;
}

.logo h1 {
  font-size: var(--fs-xl);
  margin-bottom: -11px;
}

@media (max-width: 40em) {
  .logo h1 {
    margin-bottom: -4px;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links a {
  margin-left: 12px;
  height: 24px;
  width: 24px;
}

.intro {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 8vh;
}

.animation {
  width: 35%;
  height: 70%;
}

.intro_text {
  height: 70%;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro_text p {
  font-size: var(--fs-mp);
  font-weight: bold;
  color: #556B2F;
  width: 100%;
}

span {
  color: #FA8072;
}

#scrin_1 {
  -webkit-animation: MoveUpDown 4s linear infinite;
          animation: MoveUpDown 4s linear infinite;
}

#scrin_2 {
  -webkit-animation: MoveUpDown 5s linear infinite;
          animation: MoveUpDown 5s linear infinite;
}

@-webkit-keyframes MoveUpDown {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes MoveUpDown {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.buttons {
  width: 100%;
  height: 35px;
  justify-self: flex-start;
}

.buttons button {
  width: 25%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #556B2F;
  border-radius: 4px;
  color: #556B2F;
}

.buttons button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: 1px solid #FA8072;
  color: #FA8072;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.bc {
  position: absolute;
  z-index: -10;
  left: 120px;
  width: 60%;
  -webkit-animation: rotate 20s infinite;
          animation: rotate 20s infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.products {
  width: 50%;
  min-height: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-auto-rows: 350px;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(85, 107, 47, 0.1);
  margin: 15px;
}

.product-card-img {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(85, 107, 47, 0.1);
}

.product-card-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card-img img {
  width: 60%;
  height: auto;
}

.product-card-text {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.product-card-text a {
  color: #556B2F;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.price {
  color: #FA8072;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.store-nav {
  width: 100%;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-box {
  width: 30%;
  height: 40px;
  border: 1px solid rgba(85, 107, 47, 0.1);
  outline: none;
  font-size: 20px;
  color: #556B2F;
  padding: 5px;
}

.search-butt {
  height: 40px;
  width: 40px;
  border: none;
  background-color: rgba(85, 107, 47, 0.2);
}

.search-butt img {
  width: 22px;
  height: 22px;
  margin: auto;
}

.store-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.filter-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  max-height: 50vh;
  border-right: 1px solid rgba(85, 107, 47, 0.1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.price-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.price-filter p {
  color: #FA8072;
}

.price-filter input {
  max-width: 80px;
  height: 25px;
  outline: none;
  border: 1px solid rgba(85, 107, 47, 0.1);
  font-size: 15px;
  color: #556B2F;
  margin-left: 5px;
}

.price-filter input::-webkit-inner-spin-button,
.price-filter ::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.price-filter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.category-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 40px;
}

.category-block p {
  margin-left: 5px;
  color: #556B2F;
  font-size: var(--fs-400);
}

.category-block button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(85, 107, 47, 0.4);
  border-radius: 5px;
  color: #556B2F;
}

.category-block button:hover {
  background-color: #FA8072;
  border: none;
  color: #fff;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

@media (max-width: 40em) {
  .store-catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter-sidebar {
    width: 100vh;
    border-right: none;
  }
  .products {
    width: 100vw;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    grid-auto-rows: 350px;
  }
}
/*# sourceMappingURL=index.css.map */